header ヘッダー
  ul
    li: a(href=`${relativePath}`) トップページ
    li: a(href=`${relativePath}news/`) ニュースページ
    li: a(href=`${relativePath}news/it/`) ニュースITページ
  p: img(src=`${relativePath}images/surfer-2212948_640.jpg` width="640" height="369" alt="画像")