header ヘッダー
  nav
    ul
      li: a(href=`${relativePath}`) トップページ
      li: a(href=`${relativePath}news/` class=`navi${dir}`) ニュースページ
    p: img(src=`${relativePath}images/surfer-2212948_640.jpg` width="640" height="369" alt="画像")